/* styles.css */
:root {
    --navbar-size: 28px;
    /* --terminal-size: 96px; */
    --terminal-size: 0px;
}
/* Override for .uk-navbar-item */
.uk-navbar-item {
    min-height: var(--navbar-size);
}

/* Override for .uk-navbar-nav > li > a */
.uk-navbar-nav > li > a {
    min-height: var(--navbar-size);
}

/* Override for .uk-navbar-toggle */
.uk-navbar-toggle {
    min-height: var(--navbar-size);
}

.monaco-editor {
    border: 1px solid #ccc;
    /* calculate height based on dynamic viewport height and terminal height */
    max-height: calc(100dvh - var(--terminal-size) - var(--navbar-size) ) !important;
}
.terminal {
    height: var(--terminal-size);
    /* border: 1px solid #ccc; */
    background-color: #1e1e1e;
}
.error-message {
    color: #ff0000;
    padding: 10px;
    background-color: #ffebee;
    border: 1px solid #ffcdd2;
    margin: 10px 0;
    border-radius: 4px;
}
